// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container {
  max-width: 800px;
  margin: 0 auto;
}



#one {
  margin: 10px;
  background-color: #FF9999
}

#two {
  background-color: #FFFFCC;
  border: #FFFFCC 20px solid;
  margin: 10px;
  position: absolute;
}

h1 {
  color: black;
  font-family: serif;
}

h2 {
  font-family: fantasy;
}

p {
  font-family: cursive;
}

img {
  height: 280px;
  width: 190px;
  margin: 10px;
  margin-right: 120px;
}



